{% extends 'base.html' %}
{% block title %}
Profile edit
{% endblock %}
{% block main %}
<h1>Profile</h1>
<div class="row justify-content-center">
    <div class="col-6">
        <h1>Profile Edit</h1>
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Save</button>

                </form>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary">
    <a href="{% url 'profile' %}" class="text-white text-decoration-none">Back to Profile</a>
</button>
{% endblock %}